@model Parking

<form asp-controller="Parking" asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name:</label><br>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    
    <div>
        <label asp-for="City">City:</label><br>
        <input asp-for="City"/>
        <span asp-validation-for="City"></span>
    </div>
    
    <div>
        <label asp-for="Street">Street:</label><br>
        <input asp-for="Street"/>
        <span asp-validation-for="Street"></span>
    </div>
    
    <div>
        <label asp-for="StreetNr">Number:</label><br>
        <input asp-for="StreetNr"/>
        <span asp-validation-for="StreetNr"></span>
    </div>
    
    <div>
        <label asp-for="Capacity">Capacity:</label><br>
        <input asp-for="Capacity"/>
        <span asp-validation-for="Capacity"></span>
    </div>
    
    <div>
        <label asp-for="Description">Description:</label><br>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" ></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>