@model Parking

<h1 id="Title">Update Parking:</h1>

<div id="UpdateContainer">
    <div id="LeftSection">
        <h3>Parking Data</h3>

        <form asp-controller="Parking" asp-action="Update" method="post">
            <div>
                <label asp-for="Name">Name:</label><br>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="City">City:</label><br>
                <input asp-for="City"/>
                <span asp-validation-for="City"></span>
            </div>

            <div>
                <label asp-for="Street">Street:</label><br>
                <input asp-for="Street"/>
                <span asp-validation-for="Street"></span>
            </div>

            <div>
                <label asp-for="StreetNr">Number:</label><br>
                <input asp-for="StreetNr"/>
                <span asp-validation-for="StreetNr"></span>
            </div>

            <div>
                <label asp-for="Description">Description:</label><br>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description" ></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>

        </form>
        <form asp-controller="Parking" asp-action="Delete" method="post" asp-route-id="@Model.Id" id="DeleteParkingForm">
            <button type="submit" class="btn btn-danger" id="DeleteParkingButton">Delete</button>
            <script defer>
                const DeleteParkingButton = document.getElementById('DeleteParkingButton');
                DeleteParkingButton.addEventListener('click', (e) => confirmDangerousActions(e, "DeleteParkingForm",
                    "Are you sure you want to delete this parking?", "This action cannot be reversed. It will delete all reservations associated with this parking's parking slots"))
            </script>
        </form>
    </div>
    
    <div id="RightSection">
        
        <h3>Parking Slots:</h3>
        <h4>Current parking slot availability. Click slot to view its reservations</h4>
        
        <div id="SlotsSection">
        @foreach (var slot in Model.ParkingSlots.OrderBy(s => s.SlotNr))
        {
            <a class="manage-parking-slot" asp-controller="Reservation" asp-action="ParkingSlotReservations" asp-route-id="@slot.Id">
                <div class="parking-slot">@slot.SlotNr</div>
            </a>
        }
        </div>
    </div>
</div>


