html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/img/background.jpg");
  background-size: 300px;
  min-height: 1vh;
}
.container {
  background-color: rgba(255, 255, 255, 0.96);
  padding: 20px;
  border-radius: 10px;
}
#Footer {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  z-index: 100;
}
