@model Car

<h3>Update Your Car:</h3>

<form asp-controller="Car" asp-action="Update" method="post">
    <div>
        <label asp-for="Make">Make:</label><br>
        <input asp-for="Make" />
        <span asp-validation-for="Make"></span>
    </div>

    <div>
        <label asp-for="Model">Model:</label><br>
        <input asp-for="Model"/>
        <span asp-validation-for="Model"></span>
    </div>

    <div>
        <label asp-for="RegistrationNumber">Registration No:</label><br>
        <input asp-for="RegistrationNumber"/>
        <span asp-validation-for="RegistrationNumber"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
    
</form>