@model Car

<h3>Update Your Car:</h3>

<form asp-controller="Car" asp-action="Update" method="post" id="CarUpdateForm">
    <div>
        <label asp-for="Make">Make:</label><br>
        <input asp-for="Make" />
        <span asp-validation-for="Make"></span>
    </div>

    <div>
        <label asp-for="Model">Model:</label><br>
        <input asp-for="Model"/>
        <span asp-validation-for="Model"></span>
    </div>

    <div>
        <label asp-for="RegistrationNumber">Registration No:</label><br>
        <input asp-for="RegistrationNumber"/>
        <span asp-validation-for="RegistrationNumber"></span>
    </div>
    <br/>

</form>
<div class="buttons-flex">
    <button type="submit" class="btn btn-primary" form="CarUpdateForm">Update</button>
    <form asp-controller="Car" asp-action="DeleteCar" method="post" asp-route-id="@Model.Id" id="DeleteCarForm">
        <button id="DeleteCarButton" type="submit" class="btn btn-danger">Delete car</button>
        <script defer>
                const DeleteCarButton = document.getElementById('DeleteCarButton');
                DeleteCarButton.addEventListener('click', (e) => confirmDangerousActions(e, "DeleteCarForm",
                    "Are you sure you want to delete this car?", "This action cannot be reversed. Deleting your car will also delete all your reservations associated with that car."))
            </script>
    </form>
</div>