@using Microsoft.AspNetCore.Identity
@using Parking.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole("Admin"))
                {
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">Manage Users</a>
                </li>
                <li>
                    <a id="ManageParkings" class="dropdown-item" asp-controller="Parking" asp-action="Manage" title="ManageParkings"> Manage Parkings</a>
                </li>
                }
                <li>
                    <a class="dropdown-item" asp-controller="Car" asp-action="Index" >My Cars</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Reservation" asp-action="UserReservations" >My Reservations</a>
                </li>
            </ul>
        </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
